html,body,div,span,ul,li,img,p{margin:0;padding:0;}
ul, li{list-style: none}
h3, p {
  font-size: 0.16rem;
}
body, html {
    height: 100%;
    font-family: 'Arial', 'Microsoft YaHei';
}

body {
    /*background-color: #eceeee;*/
    background-color: #fff;
    height: 10rem;
}

#entry {
    width:3.75rem;
    // position: relative;
    // font-size: 0.24rem;
    position:relative;
}

.introduction {
    text-align: center;
    margin-bottom: 0.2rem;
    img {
        width: 1.8rem;
        height: 1.8rem;
    }
}
#main{
    width:3.2rem;
    margin:0 auto;
    background: #458ff8;
    height: 2.04rem;
    padding: 0.09rem 0;
}
#main .matrix{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#main .matrix li{
    margin-bottom: 0.035em;
    width: 0.99rem;
    height: 0.5rem;
    img{
        width: 0.99rem;
        height:0.5rem;
        /*这里为什么要加block，不然img图片会下移*/
        display: block;
    }
}

#footer {
    width:3.2rem;
    border: 1px solid cadetblue;
    height: 3rem;
    margin: 0 auto;

    .show {
        width:1.5rem;
        height: 2.67rem;
        background: pink;
        float: left;
    }
    .save {
        margin-left: 0.22rem;
        float: left;
        
    }
    .btn-try {
        background: #3183f7;
        width: 1rem;
        height: 0.5rem;
        border: 0;
        color: wheat;
    }
}